html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    height: 35px !important;
    width: auto;
}
.biglogo {
    height: 180px !important;
    width: auto;
}
.con {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#img {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#wrapper {
    margin-top: 50px;
    display: flex;
}

.card {
    Padding: 0px;
    height: 300px;
    width: 300px;
    margin: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.card-img-top {
    width: 100px;
    height: auto;
    text-align: center !important;
    align-items: center;
    justify-content: center;
}

.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    width: 300px;
    font-family: 'Nunito', sans-serif;
    Padding: 0px;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
