html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    height: 35px !important;
    width: auto;
}
.biglogo {
    height: 200px !important;
    width: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}