@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://kit.fontawesome.com/a26751704a.js" crossorigin="anonymous"></script>
</head>
<form method="get" asp-action="Index">    
    <div class="con">
        <div id="img">                
            <img src="~/logoduze.png" alt="logo">       
        </div>       
        <div id="wrapper">           
            <input type="search" id="form1" class="form-control" placeholder="Wyszukaj"/>     
            <button type="button" class="btn btn-primary">       
                <i class="fa-solid fa-magnifying-glass"></i>                
            </button>    
        </div>
    </div>
   
        

</form>
