@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    <div class="row form-group">
        <div class="col">
            <img class="biglogo" src="~/logo.png" alt="logo">

        </div>       
        
    </div>

</form>

