@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://kit.fontawesome.com/a26751704a.js" crossorigin="anonymous"></script>
</head>
<form method="post">    
    <div class="con">
        <div>                
            <img src="~/logoduze.png" alt="logo">       
        </div>       
        <div id="searchbar-wrapper">           
            <input asp-for="SearchString" type="search" class="form-control" placeholder="Wyszukaj"/>     
            <button type="submit" class="btn btn-primary">       
                <i class="fa-solid fa-magnifying-glass"></i>                
            </button>    
        </div>
    </div>
</form>
