@page
@model RzeczyDoOddania.Pages.RegisterItemModel
@{
    ViewData["Title"] = "Dodaj przedmiot";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<form method="post" enctype="multipart/form-data">
    <div class="col form-group">
        @*<div asp-validation-summary="All" style="color: #eb4f44"></div>*@
        <div>
            <label asp-for="Item.Name" class="col-form-label"></label>
            <input asp-for="Item.Name" class="form-control" />
            <span asp-validation-for="Item.Name" class="text-danger fw-bold"></span>
        </div>
        <div>
            <label asp-for="Item.Address" class="col-form-label"></label>
            <input asp-for="Item.Address" class="form-control" />
            <span asp-validation-for="Item.Address" class="text-danger fw-bold"></span>
        </div>
        <div>
            <label asp-for="Item.Description" class="col-form-label"></label>
            <textarea asp-for="Item.Description" class="form-control"></textarea>
            <span asp-validation-for="Item.Description" class="text-danger fw-bold"></span>
        </div>
        <div>
            <label asp-for="SelectedCategories" class="col-form-label"></label>
            <select asp-for="SelectedCategories" asp-items="Model.Options" multiple="multiple" class="mySelect2 form-select js-example-placeholder-multiple js-states dropdown-menu" style="width: 100%"></select>
            <span asp-validation-for="SelectedCategories" class="text-danger fw-bold"></span>
        </div>
        <div>
            <label asp-for=Item.Images class="col-form-label"></label>
            <input asp-for=FormFiles type="file" multiple="multiple" class="form-control" />
            <span asp-validation-for="FormFiles" class="text-danger fw-bold"> </span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" value="Upload">Zatwierdź</button>

</form>


<script>
    $(document).ready(function (){
        $('.mySelect2').select2({
            placeholder: "Wybierz kategorię",
            allowClear: true,
        });
    });
</script>
<style>
    .form-group > * {
        margin-bottom: 1rem;
    }

    .list {
        font-size: 1.1em
    }

    .select2-container--default .select2-selection--multiple {
        border: 1px solid #ced4da !important;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #ffc107;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        border: 1px solid #ffc107;
        background-color: #ffc107;
        color: white;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: white;
    }

</style>